.box {
    width: 350px;
    height: 220px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-bottom: 30px;
    border-style: dashed;
    border-color: red;
    border-radius: 2px;
    background-color: green;
}